.schedule-container {
	text-align: center;
}

.off {
	color: rgba(131, 43, 231, 0.8);
	font-weight: bold;
	// z-index: -1;
	// border-radius: 5px;
}

.schedule-search {
	p {
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-style: italic;
		color: #d28f4a;
	}
}

.schedule-container button {
	width: 300px;
	display: inline-block;
	margin: 20px 20px;
}

.schedule-container .number-select button {
	width: 200px;
	margin: 15px 0 40px 0;
}

.schedule-list table {
	font-family: 'Proxima Nova', Arial, sans-serif;
	padding: 20px;
}

.schedule-list table th {
	text-align: center;
}

.schedule-list table tbody tr:hover {
	background-color: #7bec43;

	.off {
		background-color: #7bec43;

	}
}




.schedule-search {
	text-align: center;
	margin-bottom: 15px;
}

.schedule-search input {
	width: 45%;
	display: inline-block;
}

.schedule-search input:focus {
	border-color: #9212F3;
}


.colspan {
	font-size: 16px;
}

.send-schedule-container {
	text-align: center;

	background-color: white;

	box-shadow: 1px 1px 5px black;
	padding: 40px 40px;

	.password {
		width: 300px;
		display: block;
		margin: 0 auto;

		input {
			margin-top: 25px;
		}
	}

	.current-schedules {
		width: 250px;
		margin: 0 auto;

		h4 {
			margin-bottom: 40px;
		}
	}

	.add-schedule {
		margin: 30px;

		label {
			display: inline-block;
		}

		input {
			display: inline-block;
			width: 300px;
			margin: 20px 0 0 20px;
		}
	}
}

.send-schedule-container-item {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;

	& > button {
		width: 30px;
		height: 30px;
		min-width: 0;
		margin: 0;
		margin-top: -5px;
		margin-right: 20px;
		padding: 0;
		text-align: center;
		vertical-align: middle;

	}
}
