.main {
	text-align: center;
	padding: 30px 20px 70px 20px;
}

.main h2 {
	margin-bottom: 20px;
}



/* .main a {
	display: inline-block;
	height: 50px;
	width: 600px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	margin: 0;
} */


.main  .shift {
	background-color: #CA219A;
}

.main {

}

.shift:hover {
	// background-color: #CA219A;
	opacity: 0.9;
	opacity: 0.9;
	}

.main  .schedule {
	background-color: #E29F1D;
}

.main  .news {
	background-color: #9FE21D;
}

.main .my-button:hover {
	opacity: 0.8;
}

/* .main  .news {
	background-color: #9FE21D;
} */



.main .my-button {
	/* margin: 0px;
	width: 600px;
	height: 50px; */
}


.main-select {
	text-align: center;
	padding: 30px 20px 70px 20px;
}

.main-select .my-button {
	margin: 10px;
	width: 70%;
	height: 50px;
}

.main-select h1 {
	margin-bottom: 20px;
}

.main-select .kamenka {
	background-color: #FFEF47;

}

.main-select .puskari {
	background-color: #FF5447;

}

.main-select .nemiga {
	background-color: #6BFF47;

}

.main-select .vokzal {
	background-color: #FF8447;

}

.main-select .airport {
	background-color: #47ADFF;

}

.main-select .stolitsa {
	background-color: #9241C8;

}

.main-select .prostore {
	background-color: #DA44A0;

}

.main-select .uruche {
	background-color: #18bc9c;

}
