.news-container {
	text-align: center;
}

.news-form {
	text-align: center;
	margin-top: 20px;
}

.news-form form input {
	text-align: center;
	width: 50%;
}

.news-list {
	margin-top: 20px;
	border: 2px solid pink;
}

/* .news-item .date {
	float: left;
}

.news-item button {
	float: right;
} */

.news-item {
	background-color: rgba(255,255,255, 0.7);

	padding: 20px;
	box-shadow: 10x 10px 5px black;
	border: 1px solid orange;
	clear: both;
	margin-top: 20px;
}