.times-container {
	text-align: center;
}

.times-list table th {
	text-align: center;
}

.times-list table tbody tr:hover {
	background-color: #A0DC32;
}

.times-list .times-item button {
	min-width: 0px;
	width: 45px;
	margin: 0px;
	font-size: 12px;
}


.times-form {
	padding: 30px 20px 20px 20px;
	margin-top: 20px;
}

.times-form table th {
	text-align: center;
}

.times-form #name {
	width: 50%;
	display: inline-block;
}

.times-form label {
	margin-right: 10px;
}
