.schedule-container {
	text-align: center;
}

.schedule-container button {
	width: 300px;
	display: inline-block;
	margin: 30px 20px;
}

.schedule-container .number-select button {
	width: 200px;
	margin: 15px 0 30px 0;
}

.schedule-list table {
	padding: 20px;
}

.schedule-list table th {
	text-align: center;
}

.schedule-list table tbody tr:hover {
	background-color: #7bec43;
}




.schedule-search {
	text-align: center;
}

.schedule-search input {
	width: 400px;
	display: inline-block;
}


.colspan {
	font-size: 16px;
}
