.schedule-container {
	text-align: center;
}

.schedule-container button {
	width: 300px;
	display: inline-block;
	margin: 30px 20px;
}

.schedule-container .my-checkbox {
	margin-bottom: 20px;
}

.schedule-container .my-checkbox label {
	font-size: 20px;
	color: #b61ae6;
	font-weight: normal;
}

.schedule-container .my-checkbox input {
	height: 18px;
	width: 18px;
	margin-right: 10px;
	padding-top: 200px;
}

.schedule-list table {
	padding: 20px;
}

.schedule-list table th {
	text-align: center;
}

.schedule-list table tbody tr:hover {
	background-color: #7bec43;
}




.schedule-search {
	text-align: center;
}

.schedule-search input {
	width: 400px;
	display: inline-block;
}


.colspan {
	font-size: 16px;
}
